.vscode/**
.vscode-test/**
.git/**
.github/**
.claude/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
docs/**
ROADMAP.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
*.vsix
CONTRIBUTING.md
eslint.config.mjs
.vscode-test.mjs
scripts
**/*.bak
# Keep icon files
!images/icon.png
!images/icon.svg